@font-face {
    font-family: 'NunitoSans_Regular';
    src: url('../fonts/NunitoSans_7pt_Condensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NunitoSans_SemiBold';
    src: url('../fonts/NunitoSans_7pt_Condensed-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'NunitoSans_Bold';
    src: url('../fonts/NunitoSans_7pt_Expanded-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NunitoSans_ExtraBold';
    src: url('../fonts/NunitoSans_7pt_Expanded-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}